# Logs
*.log
log.txt
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db
$RECYCLE.BIN/

# Temporary files
*~
*.tmp
*.tmp.*
*.sw[mnpcod]

# Build output
/dist
/tmp
/out-tsc
/www
/.sourcemaps
/.versions
/coverage
/bazel-out

# Angular cache
/.angular
/.angular/cache

# Ionic
/.ionic/
.platforms
/plugins

# Node modules
/node_modules/

# Capacitor
/android/
/ios/
capacitor.config.ts
capacitor.config.json

# Cordova
/hooks/
merges/
res/

# Misc
.sass-cache/
testem.log
libpeerconnection.log
/connect.lock
.typings
.history/

# IDEs
.idea/
.project
.classpath
.settings/
*.launch
.c9/
*.sublime-project
*.sublime-workspace

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
