<ion-header>
  <ion-toolbar style="--background: transparent;">
    <ion-buttons slot="start">
      <ion-button (click)="backButton()">
        <ion-icon name="chevron-back-outline" style="color: red;"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<div class="ion-page" id="main-content">
  <ion-content id="mainContent" class="ion-padding">
    <ion-grid>
      <ion-row ion-justify-content-center ion-align-items-center style="display: block; text-align: center; margin-top: 10vw">
        <img src="../../assets/images/paranoia.png" alt="" style="width: 80vw; height: auto;">
      </ion-row>
    </ion-grid>

    <ion-row style="display: flex; margin-top: 1vw;">
      <div style="text-align: center; width: 100%; margin: auto;">
        <label style="text-align: center; margin: auto; color: white !important; font-size: 10vw !important; font-family: Cheveuxdange;"> Contrato </label>
      </div>
    </ion-row>

    <ion-row style="display: flex; margin-top: 1vw;">
      <div scrollY="true" id="myFixZone" class="fixed" style="text-align: center; margin: auto; margin-top: -2vw; border-bottom: solid 1px rgba(128, 128, 128, 0.25); background: linear-gradient(0deg, rgba(0,0,0,1) -10%, rgba(116,114,114,0) 30%, rgba(116,114,114,0) 50%);">
        <textarea style="width: 90vw; height: 100vw; background-color: transparent; color: white; font-family: Bellerose; font-size: 4.8vw; border: none;  scrollbar-face-color: #ff8c00; scrollbar-track-color: #fff8dc; scrollbar-arrow-color: #ffffff; scrollbar-highlight-color: #fff8dc; scrollbar-shadow-color: #d2691e; scrollbar-3dlight-color: #ffebcd; scrollbar-darkshadow-color: #8b0000; resize: none">
          1. Termos gerais:
    1.1. As condições e os termos descritos neste contrato serão regidos pela lei brasileira e todas as disputas serão submetidas à jurisdição exclusiva dos tribunais brasileiros.
    
    1.2. As marcas comerciais e os logotipos exibidos no site www.paranoiajogos.com.br não podem ser usados por terceiros sem a prévia autorização.
    
          2. Utilização do website:
    2.1. Os termos a seguir são aplicáveis aos visitantes do site www.paranoiajogos.com.br e da sede da Paranoia Escape Game e devem ser lidos e aprovados antes do seu uso.
    
    2.2. Através do site www.paranoiajogos.com.br, o cliente da Paranoia Escape Game poderá contratar os serviços da empresa, agendando o dia, o horário e a sala disponíveis, além de efetuar o pagamento do serviço contratado.
    
    2.3. A autorização de compra e a confirmação de pagamento serão intermediadas por uma empresa especializada neste tipo de atividade, cabendo a Paranoia Escape Game acatar a aprovação ou a recusa de tal parceiro comercial.
    
    2.4. Enquanto aguarda a aprovação do pagamento, a empresa faz a reserva do dia, do horário e da sala selecionados. Se o pagamento não for creditado ou aprovado, a empresa se dá ao direito de cancelar a reserva e anular a operação comercial.
    
    2.5. Uma vez aprovado o pagamento o cliente tem sua reserva confirmada, podendo usufruir do serviço contratado exclusivamente no dia, no horário e na sala agendados, respeitando o número de participantes previamente indicados para realizar a atividade.
    
    2.6. A Paranoia Escape Game não se responsabiliza por quaisquer danos decorrentes de qualquer uso indevido do site ocasionado por terceiros.
    
    2.7. O site www.paranoiajogos.com.br pode conter conexões externas como sites de terceiros e sites de parceiros comerciais. As operações desses sites estão fora do controle da Paranoia Escape Game e são de total responsabilidade de terceiros e das empresas parceiras.
    
    2.8. Os dados pessoais dos clientes não serão divulgados a terceiros (a menos que assim permitido previamente pelos clientes), garantindo, assim, a privacidade e a confidencialidade das informações protegidas.
    
    2.9. Ocasionalmente, a Paranoia Escape Game pode contatar seus clientes apresentando ofertas e promoções via correspondência eletrônica ou por telefone. O cliente desde já concorda em receber tais ofertas e promoções.
    
    
          3. Reservas:
    3.1. É de responsabilidade do cliente a escolha da data, do horário e da sala reservados, assim como a verificação da confirmação da sua reserva e do pagamento do serviço contratado.
    
    3.2. As compras dos jogos da Paranoia Escape Game podem ser feitas exclusivamente pelo site www.paranoiajogos.com.br. A empresa não possui distribuidores ou representantes capacitados a vender seus produtos e serviços.
    
    3.3. Se o cliente desejar transferir o seu jogo para outra pessoa, ele precisará entrar em contato com a Paranoia Escape Game, seja por telefone, e-mail ou presencialmente, com pelo menos 24 (vinte e quatro) horas antes do início da sessão do jogo, para comunicar tal decisão. Mesmo assim, por seu exclusivo critério, a empresa pode aceitar ou recusar esse tipo de alteração.
    
    3.4. Os jogos da Paranoia Escape Game não podem ser transferidos ou revendidos para fins comerciais ou como premiação, sem ciência prévia da empresa. Se um jogo for transferido ou revendido em violação a esta condição, o portador do jogo, os demais participantes regulares e a pessoa que recebeu indevidamente o direito de participar perdem o direito de utilizar o serviço contratado.
    
    3.5. O cliente é inteiramente responsável por fornecer seus dados corretamente no ato da reserva. O cliente garante estar fornecendo informações verídicas, atualizadas e precisas a Paranoia Escape Game.
    
    3.6. O cliente recebe a confirmação da sua reserva apenas pelo e-mail usado no ato de sua reserva. A Paranoia Escape Game não envia confirmações por nenhuma outra forma de comunicação.
    
    
          4. Valores e pagamentos:
    4.1. O valor do jogo indicado no site é cobrado por pessoa e pode variar conforme a política comercial da empresa.
    
    4.2. Fica a critério da Paranoia Escape Game o estabelecimento dos valores dos serviços, a definição das condições comerciais, a concessão de descontos, a realização de promoções e a distribuição de cortesias.
    
    4.3. O número de jogadores deve respeitar a quantidade mínima e máxima estabelecida pela Paranoia Escape Game em cada sala e em cada atividade.
    
    4.4. Para a reserva ser efetivada, o pagamento deve ser confirmado.
    
    4.5. É exigido o pagamento mínimo do serviço contratado - informado no site - no momento da reserva.
    
    4.6. Os jogos da Paranoia Escape Game são jogos presenciais e com hora previamente agendada. Uma vez realizada, paga e confirmada uma reserva por parte do cliente, não serão aceitos cancelamentos, restituições ou reagendamentos.
    
    4.7. Para o pagamento através do site, são aceitos apenas cartões de crédito, são eles: Hipercard, Visa, MasterCard, Elo, AmericanExpress, DinersClub. As modalidades de pagamento oferecidas serão disponibilizadas no ato da reserva, podendo mudar a qualquer tempo e sem aviso prévio.
    
    4.8. Para o pagamento no local, são aceitos os cartões de crédito e débito: Hipercard, Visa, MasterCard, Elo, AmericanExpress. Presencialmente também é aceito pagamentos em dinheiro e apenas para débito, BanriCompras.
    
          5. Segurança e diversão:
    5.1. Todos os clientes serão instruídos por um funcionário da Paranoia Escape Game, antes do início da sessão, sobre as regras da atividade. Depois de aprenderem o regulamento e as normas de segurança, todos os jogadores participam do jogo por sua conta e risco. A empresa não se responsabiliza por quaisquer danos (pessoais ou materiais) causados pelo uso indevido dos ambientes dos jogos e/ou pelo não cumprimento das regras informadas antes da atividade.
    
    5.2. O cliente que efetuou a reserva para mais de um participante se compromete a comunicar e a colher o consentimento dos demais participantes do jogo relativamente às informações contidas neste contrato de prestação de serviço, ficando, assim, responsável pela outorga da participação dos demais participantes da atividade.
    
    5.3. A participação na Paranoia Escape Game exige dos participantes absoluta concentração e controle de seu estado físico e emocional. Assim, pessoas que estiverem sob a influência de álcool ou de drogas de qualquer natureza não poderão participar do jogo e o horário reservado será automaticamente cancelado sem direito a reembolso.
    
    5.4. Poderá ser solicitado ao contratante do jogo, para a realização da atividade, a confirmação do seu nome completo conforme o estabelecido no ato da reserva e do pagamento do serviço. A empresa pode solicitar também a confirmação de outros dados dessa pessoa como CPF, RG, número de telefone e endereço de e-mail.
    
    5.5. Menores de quatorze (14) anos deverão obrigatoriamente estar acompanhados de pelo menos um adulto responsável por eles durante a realização do jogo. Esse adulto deve estar presente no interior da sala durante a atividade.
    
    5.6. Todas as sessões de jogos são filmadas e as imagens são de propriedade da Paranoia Escape Game. Os participantes aceitam, de antemão, a filmagem e autorizam a Paranoia Escape Game a capturar suas imagens, a armazenar e a usar tais gravações.
    
    5.7. Os clientes autorizam a divulgação gratuita de fotos e vídeos seus e de seu grupo, gravados com seu consentimento ao final das sessões, para serem divulgados nas mídias sociais, na Internet e no website da Paranoia Escape Game.
    
    
          6. A realização do jogo:
    6.1 Os jogos da Paranoia Escape Game foram projetados para um número específico de participantes por ambiente, devidamente informado no site www.paranoiajogos.com.br. Assim, as quantidades mínimas e máximas de pessoas que poderão participar da atividade devem ser sempre respeitadas, cabendo à empresa contratada zelar por essa regra.
    
    6.2 Para jogar, os participantes devem estar presentes no local da atividade na data e no horário estabelecidos previamente entre as partes.
    
    6.3 No caso do grupo de participantes se atrasar para o início da sessão do jogo em um prazo igual ou superior a dez (10) minutos, a reserva automaticamente é considerada como um jogo executado, ficando o grupo impedido de iniciar a atividade. Nenhum valor será reembolsado neste caso. (Caso a Paranoia Escape Game tenha disponibilidade de agenda no horário subsequente ao agendado pelo grupo e permita que o jogo ocorra mesmo com o atraso superior a 15 minutos, fica estabelecida uma multa de R$100,00 pelo atraso.)
    
    6.4. Não é permitido entrar nas salas de jogos com comidas e/ou bebidas.
    
    6.5 Devido à natureza do jogo, não é permitido o uso por parte dos participantes de qualquer aparelho de gravação de som ou imagem como celulares, smartphones, notebooks, tablets, câmeras fotográficas, filmadoras e afins. Os participantes não poderão entrar nas salas de jogo com esses equipamentos.
    
    6.6 Os clientes se comprometem a não revelar os segredos dos jogos para o público em geral, não comprometendo nem influenciando, assim, a participação de outras pessoas nas futuras atividades.
    
    6.7 Os clientes da Paranoia Escape Game se comprometem a não danificar, a não estragar nem prejudicar a infraestrutura, os equipamentos e os materiais da empresa, zelando pela boa conservação e operação das propriedades da organização antes, durante e depois da realização dos jogos. A empresa tem o direito de cobrar dos clientes e/ou, solidariamente, do contratante dos serviços que ora aceita os presentes termos e condições, por quaisquer danos, intencionais ou não, que ocorram em suas instalações. (Desde já fica definido que este valor será de R$ 50,00 (Cem reais) para danos de pequena monta, R$ 200,00 (duzentos Reais) Danos de média relevância e R$ 500,00 (quatrocentos Reais) para danos severos.).
    
    6.8 Enquanto estiver nas instalações da Paranoia Escape Game, o cliente deve respeitar o cumprimento dos códigos, das regras, das diretrizes e dos regulamentos internos da companhia, além de adotar uma postura adequada em relação às normas de segurança da organização. O contratante dos serviços ora assume solidariamente todas as responsabilidades dos clientes que inscrever para participar das atividades do jogo, inclusive, mas a tanto não se limitando, a de indenizar a Paranoia Escape Game por quaisquer prejuízos, de qualquer natureza, que causar.
    
        
        </textarea>
      </div>
    </ion-row>
  </ion-content>
</div>