<ion-header>
  <ion-toolbar style="--background: transparent;">
    <ion-buttons slot="start">
      <ion-button (click)="backButton()">
        <ion-icon name="chevron-back-outline" style="color: red;"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-menu-button autoHide="false" style="color: red;"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<div class="ion-page" id="main-content">
  <ion-content id="mainContent" class="ion-padding">
    <ion-grid>
      <ion-row ion-justify-content-center ion-align-items-center style="display: block; text-align: center; margin-top: 10vw">
        <img src="../../assets/images/paranoia.png" alt="" style="width: 80vw; height: auto;">
      </ion-row>

      <ion-row *ngIf="ranking !== null" ion-justify-content-center ion-align-items-center style="display: block; text-align: center; margin-top: 10vw">
        <div scrollY="true" id="myFixZone" class="fixed" style="height: 70vh; margin-top: -2vw; border-bottom: solid 1px rgba(128, 128, 128, 0.25); background: linear-gradient(0deg, rgba(0,0,0,1) -10%, rgba(116,114,114,0) 30%, rgba(116,114,114,0) 50%);">
          <ion-list inset="true" style="background: transparent;">
            
            <ion-card *ngFor="let usuario of ranking; let i = index" style="width: 80vw; margin: auto; margin-top: 1vw;">
              <ion-card-content style="background: black; display: flex; flex-direction: column; margin: auto;">
                
                <div style="text-align: center; display: flex; --background: transparent; border-bottom: solid red 1px; margin: auto; width: 70vw;">
                  <ion-item>
                    <ion-col style="display: flex; margin: auto; width: 15vw;">
                      <ion-label style="display: flex; margin: auto;">
                        <img class="teamProfileCircle" src="{{'https://paranoiars.com.br:447/profileImages/' + (usuario.foto === '' || usuario.foto.length <= 0 ? 'profileDefault' : usuario.foto) + '.jpg'}}"/>
                      </ion-label>
                    </ion-col>
                    <ion-col style="width: 70%; font-size: 4.5vw; font-size: 5.6vw; margin-top: -6vw;">
                      <ion-label style="margin-left: 2vw; font-family: Bellerose; text-wrap: nowrap; max-width: 40vw; min-width: 40vw; height: 10vw; display: flex;"> {{ usuario.nome + ' ' + usuario.sobrenome }} </ion-label>
                    </ion-col>
                  </ion-item>
                </div>
                <div style="margin-top: 2vw;">
                  <ion-item>
                    <ion-row style="margin: auto; display: flex;">
                      <ion-col style="text-align: center; margin: auto; width: 12vw; height: 12vw;" class="ion-align-items-start">
                        <ion-icon name="medal-outline" style="color: red; font-size: 8vw;"></ion-icon>
                      </ion-col>
                      <ion-col style="text-align: center; margin: auto; width: 12vw; height: 12vw;" class="ion-align-items-start">
                        <ion-label style="font-size: 5vw;">{{(i + 1) + 'º'}}</ion-label>
                      </ion-col>
  
                      <ion-col style="text-align: center; margin: auto; width: 12vw; height: 12vw;" class="ion-align-items-center">
                        <img style="width: 12vw; height: auto;" src="../../assets/images/menu-small/lvlicon.png"/>
                      </ion-col>
                      <ion-col style="text-align: center; margin: auto; width: 12vw; height: 12vw;" class="ion-align-items-center">
                        <ion-label style="font-size: 5vw;">{{usuario.nivel}}</ion-label>
                      </ion-col>
  
                      <ion-col style="text-align: center; margin: auto; width: 12vw; height: 12vw;" class="ion-align-items-center">
                        <img style="width: 12vw; height: auto;" src="../../assets/images/menu-small/xp.png"/>
                      </ion-col>
                      <ion-col style="text-align: center; margin: auto; width: 12vw; height: 12vw;" class="ion-align-items-center">
                        <ion-label style="font-size: 5vw;">{{usuario.experiencia}}</ion-label>
                      </ion-col>
                    </ion-row>
                  </ion-item>
                </div>
              </ion-card-content>
            </ion-card>
          </ion-list>
        </div>
      </ion-row>      
    </ion-grid>
  </ion-content>
</div>
