.teamProfileCircle {
    height: 13vw;
    width: 13vw;
    border-radius: 50%;
    margin-bottom: 4vw;
  }
  
  .fixed[scrollx=true], div[scrolly=true] {
    position: relative;
    overflow: hidden;
  
    ::-webkit-scrollbar {
      display: none;
    }
  }
  
  .fixed[scrollx=true] {
    overflow-x: auto;
  }
  
  .fixed[scrolly=true] {
    overflow-y: auto;
  }
  
  #myFixZone {
    height: 82vw;
  }
  
  ion-item {
    --border-color: transparent;
  }
  